<section class="portfolio-section">
  <div class="container text-center">
    <h1>My Portfolio</h1>

    <!-- Filter Buttons -->
    <div class="monochrome-buttons">
      @for (category of categories; track $index) {
        <button
          [class.active]="selectedCategory === category"
          (click)="selectCategory(category)"
          class="monochrome-btn"
        >
          {{ category | uppercase }}
        </button>
      }
    </div>

    <div class="gallery">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <!-- Image Gallery -->

        @for (image of filteredImages; track $index) {
          <div class="col g-2">
            <div class="gallery-item">
              <img [src]="'images/' + image.imageUrl" [alt]="image.title" class="gallery-image" />
              <div class="image-overlay">
                <h3 class="img-title">{{ image.title }}</h3>
                <p class="category-badge">{{ image.category }}</p>
                <a
                  [routerLink]="['/details', image.id]"
                  class="btn btn-primary w-50 mx-auto my-2"
                  id="details-btn"
                  >Details</a
                >
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
